.skills__list {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.skills__icon {
  font-size: 3rem;
  color: var(--clr-primary);
  transition: transform 0.3s ease, color 0.3s ease;
}

.skills__icon:hover {
  transform: scale(1.2);
  color: var(--clr-fg-alt);
}

